html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.tweet {
  font-size: 9pt;
  background-color: #eeeeee;
  margin: 2px;
}

.tweet img {
  float: left;
  height: 48px;
  width: 48px;
  margin-right: 4px;
  margin-top: 4px;
}

.tweet .name {
  color: #666;
  font-weight: bold;
}

.tweet .text {
  clear: right;
}

.tweet .timestamp {
  clear: right;
  font-size: 7pt;
  cursor: pointer;
  color: blue;
}

.tweet .timestamp a {
  text-decoration: none;
}

.tweet .tweetcontext {
  padding-left: 5px;
  font-size: 7pt;
}

.tweet .actionbar{
  float: right;
}

.actionbar .action {
  background-image: url("../img/iconsprite.gif");
  background-repeat: no-repeat;
  display: block;
  height: 15px;
  width: 15px;
  margin-left: 4px;
  margin-right: 2px;
  cursor: pointer;
}

.actionbar .action:hover{
  background-position-y: -16px;
}
.actionbar .retweet {
  background-position: -80px 0px;
}
.actionbar .reply {
  background-position: -32px 0px;
}
.actionbar .favorite {
  background-position: -16px 0px;
}
