html, body {
  margin:0px;
  padding:0px;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.alertArea{
  height: 100px;
  width: 100%;
  background-color: #efefef;
  overflow: hidden;
}

#notificationStatus{
  background-color: #444;
  opacity: 0.75;
  position:fixed;
  left: 0px;
  bottom: 0px;
  height: 20px;
  width: 30%;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0 0 2px 2px rgba(20,20,20,0.9);
  z-index: 100;
  color: #fff;
  font-family: georgia;
  font-size: 12px;
}

#notificationCount{
  float: right;
  margin-right: 10px;
}

.notificationNav{
  background-color: #111;
  padding: 2px;
  font-size: 10px;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 2px;
  -webkit-box-shadow: 0 0 3px rgba(20,20,20,0.9);
}

.tweet {
  font-size: 12px;
  background-color: #efefef;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 100%;
  overflow: hidden;
}

.tweet img {
  float: left;
  height: 48px;
  width: 48px;
  margin: 4px;
}

.tweet .name {
  color: #666;
  font-weight: bold;
}

.tweet .text {
  clear: right;
}

.tweet .timestamp {
  clear: right;
  font-size: 7pt;
  cursor: pointer;
  color: blue;
}

.tweet .timestamp a {
  text-decoration: none;
}

.tweet .tweetcontext {
  padding-left: 5px;
  font-size: 7pt;
}

.tweet .actionbar{
  float: right;
  margin-right: 2px;
}

.tweet_overlay {
  z-index: 50;
}

.tweetfooter{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.tweetshadow{
  background-color: #444;
  opacity: 0.65;
  float:left;
  height: 20px;
  width: 30%;
  margin-right: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0 0 2px 2px rgba(20,20,20,0.9);
}

.actionbar .action {
  background-image: url("../img/iconsprite.gif");
  background-repeat: no-repeat;
  display: block;
  height: 15px;
  width: 15px;
  margin-left: 4px;
  margin-right: 2px;
  cursor: pointer;
}

.actionbar .action:hover{
  background-position-y: -16px;
}
.actionbar .retweet {
  background-position: -80px 0px;
}
.actionbar .reply {
  background-position: -32px 0px;
}
.actionbar .favorite {
  background-position: -16px 0px;
}

#dialog {
  position: fixed;
  left: 90px;
  background-color: #aaa;
  width: 120px;
  top: 5px;
  padding: 10px;
  font-family: georgia;
  font-size: 15px;
  opacity: 0.90;
  border-radius: 10px;
  text-align: center;
}

#dialog button {
  font-size: 10px;
}
#dialog textarea {
  font-size: 10px;
}
#dialog img {
  height: 24px;
  width: 24px;
  margin-right: 3px;
}

@-webkit-keyframes rollleft{
  0% {
    left: 0;
  }
  100% {
    left: 300px;
  }
}

.animate_left{
  -webkit-animation-name: rollleft;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
}
